@font-face {
  font-family: "Elsa";
  src: url(../fonts/Poppins/Poppins-Light.ttf) format("truetype");
  font-weight: 400;
}
html {
  /* 1rem=10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --body-font: "Elsa";

  --big-font: 4rem;
  --h1-font: 3.6rem;
  --h2-font: 2.4rem;
  --h3-font: 2rem;
  --h4-font: 1.8rem;
  --normal-font: 1.6rem;
  --small-font: 1.4rem;
  --smaller-font: 1.3rem;

  /* font weight */
  --font-regular: 500;
  --font-medium: 600;
  --font-semi-bold: 700;

  /* color variables */
  --primary-color: #c87e4f;
  --primary-color-hover: #c2703d;
  --text-color: #333;
  --text-color-light: #888682;
  --border-color: #484848;
  --white-color: #fff;
  --section-bg: #2c3034;

  /* z-index */
  --z-overlay: 10;
  --z-fixed: 100;

  /* transition */
  --tran-0-2: 0.2s;
  --tran-0-3: 0.3s;
  --tran-0-5: 0.5s;
}

/* font size for small screen than 968px */
@media screen and (max-width: 990px) {
  :root {
    --big-font: 3.5rem;
    --h1-font: 2.4rem;
    --h2-font: 2rem;
    --h3-font: 1.8rem;
    --h4-font: 1.6rem;
    --normal-font: 1.5rem;
    --small-font: 1.3rem;
    --smaller-font: 1.2rem;
  }
}

/* Pre-CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  overflow: hidden;
  background-color: var(--white-color);
}

/* Reusable CSS */
.section {
  padding: 7rem 2rem;
}

.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.button {
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color-hover);
}

.section-subtitle,
.content-subtitle {
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}

.section-tittle,
.content-title {
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
}

.section-decription,
.content-description {
  text-align: center;
  margin-bottom: 2rem;
}

.section-decription {
  padding: 0 16rem;
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

/* nav */
.nav {
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

/* .logo-icon,
.phone-icon {
  font-size: 0;
} */

.logo-text,
.nav-link,
.phone-number {
  color: var(--white-color);
}

.menu-list {
  column-gap: 2rem;
}

.nav-link {
  position: relative;
  text-transform: capitalize;
}

/* .nav-link::before {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  opacity: 0;
} */

.active-navlink::before {
  opacity: 1;
}

.navOpen-btn,
.navClose-btn,
.media-icons {
  display: none;
}

/* nav responsive */

@media screen and (max-width: 768px) {
  .contact-content {
    display: none;
  }

  .navOpen-btn,
  .navClose-btn,
  .media-icons {
    display: block;
  }

  .nav .menu-content {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 300px;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    padding-top: 10rem 0 5rem;
    background: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
  }

  .navOpen-btn,
  .navClose-btn {
    cursor: pointer;
  }

  .nav .menu-content.open {
    right: 0;
  }

  .menu-list {
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
  }

  .nav-link {
    color: var(--text-color);
  }

  .nav-link::before {
    color: var(--text-color);
  }

  .navClose-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .media-icons {
    column-gap: 1rem;
  }
}

.navOpen-btn,
.navClose-btn {
  cursor: pointer;
}

/* home */
.home {
  height: 100vh !important;
  width: 100%;
}

.swiper-slide {
  position: relative;
  height: 100vh !important;
  width: 100%;
}

.home .swiper-slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--z-overlay);
}

.home-img {
  width: 100%;
  height: 100% !important;
}

/* swiper button */
.swiper-navBtn {
  width: 5.8rem !important;
  height: 5.8rem !important;
  color: var(--white-color) !important;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--tran-0-2);
  opacity: 0;
  visibility: visible;
}

.reviews:hover .swiper-navBtn,
.home:hover .swiper-navBtn {
  opacity: 1;
}

.swiper-navBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.swiper-navBtn::after,
.swiper-navBtn::before {
  font-size: 2rem;
}

.swiper-button-next {
  right: 16rem !important;
}

.swiper-button-prev {
  left: 16rem !important;
}

.swiper-pagination-bullet {
  background-color: var(--white-color) !important;
  opacity: 1 !important;
  height: 1.2rem !important;
  width: 1.2rem !important;
  margin-bottom: 2rem !important;
  visibility: hidden;
}

.swiper-pagination-bullet-active {
  border: 3px solid var(--primary-color);
  background-color: var(--primary-color) !important;
}

.home-details {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--z-fixed);
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 4rem;
}

.homeSubtitle {
  text-align: center;
  font-size: var(--normal-font);
  color: var(--white-color);
  /* font-weight: var(--font-regular); */
}

.homeTitle {
  text-align: center;
  font-size: var(--big-font);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

.about .content-subtitle,
.about .content-title,
.about .content-description {
  text-align: left;
}

/* About */

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7rem;
  align-items: center;
  padding: 0 5rem;
}

.about-imageContent {
  position: relative;
  max-width: 400px;
  height: 450px;
  border: 6px solid var(--section-bg);
}

.aboutImg-textBox {
  position: absolute;
  bottom: 2rem;
  right: -5rem;
  padding: 2rem;
  max-width: 360px;
  width: 100%;
  text-align: center;
  border: 6px solid var(--border-color);
  background-color: var(--white-color);
}

.aboutImg-textBox .content-description {
  text-align: center;
  margin-bottom: 0;
}

.heart-icon {
  position: absolute;
  left: -1.9rem;
  top: 50%;
  height: 3rem;
  width: 3rem;
  background-color: var(--section-bg);
  transform: translateY(-50%);
  justify-content: center;
  border-radius: 50%;
}

.about-lists {
  column-gap: 1rem;
  align-items: baseline;
}

.about-lists {
  font-weight: var(--font-medium);
  font-size: var(--h4-font);
}

.about-lists:nth-child(1) {
  color: var(--primary-color) !important;
}

.about-list .dot {
  font-size: 2.5rem;
}

.about-buttons {
  column-gap: 2rem;
}

.about-link .link-text,
.about-arrowIcon {
  color: var(--text-color);
  text-transform: uppercase !important;
}

.about-arrowIcon {
  transition: var(--tran-0-3);
}

.about-link:hover .about-arrowIcon {
  margin-left: 4px;
}

/* Responsive Media */
@media screen and (max-width: 768px) {
  .swiper-navBtn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
}

/* Menu */
.menu {
  background-color: var(--section-bg);
}

.section-tittle,
.section-decription {
  color: var(--white-color);
}

.menu .menu-content {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 6rem;
  margin-top: 6rem;
}

.menu-img {
  height: 80px;
  width: 80px;
  margin-right: 1.5rem;
  border-radius: 50%;
}

.menu-items {
  display: grid;
  row-gap: 1.5rem;
}

.menu-item {
  position: relative;
  padding: 2rem 2.5rem;
  background-color: var(--white-color);
}

.menuItem-details {
  margin-right: 1.5rem;
}

.menuItem-topic {
  font-weight: var(--font-semi-bold);
}

.menuItem-des {
  font-size: var(--small-font);
}

.real-price {
  flex-direction: column;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  padding-left: 2rem;
}

.discount-price {
  font-size: 1.8rem;
}
.real-price {
  text-decoration: line-through;
}

.time-topic {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: var(--font-medium);
  padding: 1.5rem 0;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.time-list {
  padding: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  background-color: var(--white-color);
}

.time-list:nth-child(7) {
  border-bottom: none;
}

/* Brand */
.brand-images {
  display: grid;
  align-items: center;
  column-gap: 2rem;
  justify-content: space-between;
  justify-items: center;
  margin-top: 3rem;
  grid-template-columns: repeat(1, 5fr) !important;
}

.brand-img {
  width: 150px;
  object-fit: contain;
  opacity: 0.4;
  transition: var(--tran-0-3);
}
.brand-img:hover {
  opacity: 1;
}
/* Review */

.review {
  background-color: #f2f2f2;
}

.review .section-tittle,
.review .section-decription {
  color: var(--text-color);
}

.review-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.testi-content {
  position: relative;
  height: 100%;
  width: 100%;
  row-gap: 2rem;
  flex-direction: column;
}

.review-quote {
  padding: 0 15rem;
  text-align: center;
}

.testi-personDetails {
  flex-direction: column;
}

.testi-personDetails .name {
  font-size: 1.8rem;
  font-weight: var(--font-medium);
}

.quote-icon {
  font-size: 3rem;
}

/* swiper btn */
.review .swiper-navBtn {
  background-color: rgba(0, 0, 0, 0.1);
}

.review .swiper-navBtn:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.review .swiper-button-next {
  right: 2rem !important;
  transform: translateY(-10rem);
}

.review .swiper-button-prev {
  left: 2rem !important;
  transform: translateY(-10rem);
}

.review .swiper-navBtn {
  opacity: 1;
}

/* newsletter */
.newsletter-container {
  display: grid;
  justify-items: center;
  row-gap: 4rem;
}
/* footer */

/* scroll up */

/* Responsive media */
